# Dependências
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/

# Testes
coverage/
.nyc_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
